body{
    background-color: aqua;
}

.column{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: solid 5px white;
    align-items: center;
}


.wrapper {
    display: grid;
    grid-template-columns: 12% 13% [headerstart] 50% [headerend] 13% [buttonstart] 12% [buttonend];
    grid-template-rows: [buttontop] 30px [middlepart] 100px [headerbottom];
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;

  }

  .header {
      grid-column-start: headerstart;
      grid-column-end: headerend;
      grid-row-start: middlepart;
	  grid-row-end: headerbottom;
      text-align: center;
      font-size: 30px;

  }

  .button {
      grid-column-start: buttonstart;
      grid-column-end: buttonend;
      grid-row-start: buttontop;
      grid-row-end: middlepart;
      
  }

.container{
    display: flex;
    justify-content: center;
}
.footer{
    position: fixed;
    bottom: 0%;
    text-align: center;
    width: 100%;
}
 .picture{
     fill: brown;
     size: 80px;
 }